.main  
  {padding-top: 2em;}


.field_with_errors {
   label  {
    color: #d01612;
  }
   input, textarea   {
    border-color: #d01612;
    }
  }

.nested_nav  {
  margin: 0 0 0 1em ; 
  font-size: 80%;
}

.tag_cloud  {

  margin-top: 2em;
}

.nav-stacked > li.nav-item {
 
  font-size: 25px;
}

.active{
  background-color: cyan;
}